body {
  background-color: #191c24;
  color: #aeb8fe;
  border-style: solid;
  border-color: #cbc0ae;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  padding: 15px;
}

.all-metrics {
  display: flex;
  justify-content: center;
}

.sidebar {
  background-color: #2e2e3a;
  border-style: solid;
  border-color: #cbc0ae;
  display: flex;
  width: 150px;
  height: 650px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.three-boxes {
  background-color: #2e2e3a;
  border-style: solid;
  border-color: #cbc0ae;
  padding: 10px;
}
.right-side {
  display: grid;
  grid-template-areas:
    "one two three"
    "one two three"
    "one two three"
    "four four four"
    "four four four"
    "four four four";
}

.website-visitor {
  background-color: #2e2e3a;
  border-style: solid;
  border-color: #cbc0ae;
  width: 600px;
  padding: 10px;
  margin: 0;
  grid-area: four;
}

  .website-visitor-two {
    background-color: #cbc0ae;
    border-style: solid;
    border-color: #cbc0ae;
    width: 350px;
    height: 200px;
  }

.sentiment-analysis {
  grid-area: three;
}

.reviews {
  grid-area: two;
}

.average-rating {
  grid-area: one;
}


